<section class="form-section">

  <h3>Let's work together</h3>

  <form method="POST" action="http://formspree.io/{{site.data.settings.email}}">

    <div class="name-input">
      <div class="name-item">
        <label for="name">Your Name</label>
        <input type="name" name="name" value=""  id="name">
      </div>
    </div>

    <div class="email-input">
      <div class="email-item">
        <label for="email">Your Email</label>
        <input type="email" name="email"  id="email">
      </div>
    </div>

    <div class="message-input">
      <label for="message">Your Message</label>
      <textarea name="message"  id="message"></textarea>
    </div>
    <div class="submit-wrap">
      <button type="submit">Send</button>
    </div>

  </form>

</section>
