<section class="form-section">

  <h3 data-aos="fade-up" data-aos-duration="3000">Let's work together</h3>

  <form method="POST" action="http://formspree.io/{{site.data.settings.email}}">

    <div class="name-input">
      <div class="name-item">
        <label for="name" data-aos="fade-up" data-aos-duration="3000">Your Name</label>
        <input type="name" name="name" value="" required="required"  id="name" data-aos="fade-up" data-aos-duration="3000">
      </div>
    </div>

    <div class="email-input">
      <div class="email-item">
        <label for="email" data-aos="fade-up" data-aos-duration="3000">Your Email</label>
        <input type="email" name="_replyto" required="required" id="email" data-aos="fade-up" data-aos-duration="3000">
      </div>
    </div>

    <div class="message-input">
      <label for="message" data-aos="fade-up" data-aos-duration="3000">Your Message</label>
      <textarea name="message"  id="message" required="required" data-aos="fade-up" data-aos-duration="3000"></textarea>
    </div>
    <div class="submit-wrap">
      <button type="submit" data-aos="fade-up" data-aos-duration="3000">Send</button>
    </div>

  </form>

</section>
