<section class="alt-section work-section">

  <h3 id="work">Works</h3>

  <div class="work-belt">

    <div class="thumb-wrap">

      <div class="thumb-container">
        {% for project in site.data.settings.projects %}

          <div class="thumb-unit" data-folder="{{project.folder}}" style="background-image: url(assets/img/work/{{project.folder}}/thumb.jpg);  ">

            <div class="thumb-unit">

              <div class="thumb-overlay">
                <strong>{{project.name}}</strong>
                <div class="zoom-icon"></div>
              </div>

            </div>

          </div>
        {% endfor %}
      </div>

    </div>

    <div class="work-wrap">

      <div class="work-container">
        <div class="work-return">
          {% include icones/icon-back.html %}
        </div>
        <h4 class="project-title" ></h4>

        <div class="project-load">

        </div>

      </div>

    </div>

  </div>
</section>
