.form-section

  form
    max-width: 700px
<<<<<<< HEAD
    margin: 50px auto 100px auto
=======
    margin: 0px auto
    padding: 0 15px
>>>>>>> gh-pages
    +clearfix

    .name-input, .email-input
      box-sizing: border-box
      width: 50%
      float: left
      display: inline-block

      @media screen and (max-width: 600px)
        width: 100%
        display: block
        float: none

        .name-item
          margin-right: 0%

        .email-item
          margin-left: 0%

<<<<<<< HEAD
=======

    .message-input
      clear: both

>>>>>>> gh-pages
      label
        font-weight: 800

    .name-item
      margin-right: 5%

    .email-item
      margin-left: 5%

    .submit-wrap
      text-align: right
<<<<<<< HEAD
      
=======

>>>>>>> gh-pages
      [type='submit']
        background-color: $accent-color
        color: white
        font-size: 18px
        text-transform: uppercase
<<<<<<< HEAD
        width: 33%
=======
        max-width: 33%

        &:hover
          background-color: $selection-color
          color: $accent-color

        @media (max-width: 600px)
          max-width: 100%
>>>>>>> gh-pages

    textarea, input, button
      display: inline-block
      width: 100%
      outline: none
      margin-bottom: 15px
      padding: 10px
      border: 2px solid $accent-color
      +box-sizing(border-box)

<<<<<<< HEAD
      &:focus
        border-color: $selection-color
=======
    &:focus
      border-color: $selection-color

    button
      margin-bottom: 0px


>>>>>>> gh-pages

    textarea
      height: 200px
    label
      display: block
      margin-bottom: 10px
      font-weight: 800
      color: rgba(0,0,0, 0.5)
