@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')
body
  font-family: 'Open Sans', sans-serif
header
  transition: all 0.5s linear
  background: url(../img/#{$background-image}) center center
    size: cover
    attachment: fixed
  padding-bottom: 70px
  &:hover
    transition: all 0.5s ease-in-out
    background: url(../img/#{$background-image}) center bottom
      size: cover
      attachment: fixed

  .logo
    +size(50px)
    float: left
    margin: 20px 0 0 30px
    path
      fill: rgba(0,0,0, 0.2)

  nav
    float: right
    margin: 30px 30px 0 0
    a
      font-size: 14px
      display: inline-block
      margin-left: 20px
      color: rgba(0, 0, 0, 0.7)

      @extend %small-bold

      &:hover
        color: rgba(0, 0, 0, 1)

  h1

    font:
      size: 72px
      weight: 700
    color: white
    text-transform: uppercase
    letter-spacing: 0.05em
    margin-bottom: 20px
    padding-top: 105px
    clear: both
    text-align: center
    span
      display: inline-block
      padding: 0.2em 0.5em
      border: 10px solid white

  .kicker
    text-align: center
    @extend %small-bold
    color: white


@media (max-width: 600px)
  header

    .logo, nav
      float: none
      padding-top: 20px
      margin: 0px auto
      text-align: center

    h1
      padding-top: 0px
